apeye>=0.7.0
appdirs>=1.4.4
cawdrey>=0.4.1
consolekit>=0.1.2
dom-toml>=0.2.2
domdf-python-tools>=2.5.0
first>=2.0.2
packaging>=20.7
trove-classifiers>=2020.10.21
typing-extensions>=3.7.4.3
wheel-filename>=1.2.0
